# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python package

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # TF>=2.0 needed for python 3.8. So we test TF 2.x on 3.8, 3.9 and TF 1.x on 3.6, 3.7
        python-version: [3.8, 3.9]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        install -r requirements_tf2.txt; fi
    - name: Lint with flake8
      run: |
        flake8 . --count --show-source
    - name: Run unit tests
      run: |
        python -m pytest --cov=lottery_ticket_pruner --cov-branch --junitxml build/unittest_results-${{ matrix.python-version }}.xml --cov-report html:build/test_cov-${{ matrix.python-version }}
    - name: Upload test results
      uses: actions/upload-artifact@v1
      with:
        name: pytest-results-${{ matrix.python-version }}
        path: build/unittest_results-${{ matrix.python-version }}.xml
      # Use always() to always run this step to publish test results when there are test failures
      if: ${{ always() }}
    - name: Upload code coverage report
      uses: actions/upload-artifact@v1
      with:
        name: coverage-${{ matrix.python-version }}
        path: build/test_cov-${{ matrix.python-version }}
      if: ${{ always() }}
